header {
    color: white;
   
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 5em;
}



h2 {
    position: absolute;
}

.myRow {
    border: 2px solid black;
    
}

.myList {
    border: none;
}

.myCards {
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

li {
    text-decoration: none;
}

#uv-index {
    padding: 5px; 
    color: white;
    border-radius: 5px;
}

